* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* Header */
.header-container {
  background-image: url("../../assets/img/Header.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  text-align: center;
  color: white;
  padding: 20px;
}

/* CardPizza */
.pizza-img {
  height: 250px;
  object-fit: cover;
}

/* Formularios */
.formContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.inputContainer {
  margin-bottom: 10px;
}
